<?php
/**
 * Add the `<%= slug %>` submenu page.
 *
 * @see https://developer.wordpress.org/reference/functions/add_submenu_page/
 */
function <%= pluginMachineName %>_submenu_page_<%= machineName %>_init() {
	add_submenu_page(
		'<%= parentSlug %>',
		__( '<%= pageTitle %>', '<%= textdomain %>' ),
		__( '<%= menuTitle %>', '<%= textdomain %>' ),
		// @see https://wordpress.org/support/article/roles-and-capabilities/
		'manage_options',
		'<%= slug %>',
		'<%= pluginMachineName %>_submenu_page_<%= machineName %>_render',
		null,
	);
}
add_action( 'admin_menu', '<%= pluginMachineName %>_submenu_page_<%= machineName %>_init' );


/**
 * Render the page.
 */
function <%= pluginMachineName %>_submenu_page_<%= machineName %>_render() {
	global $plugin_page; // '<%= slug %>'
	?>
	<div class="wrap">
		<h1><?php echo esc_html( get_admin_page_title() ); ?></h1>
		<form method="post" action="/wp-admin/options.php">
			<?php
			settings_fields( $plugin_page );
			do_settings_sections( $plugin_page );

			ob_start();
			do_settings_fields( $plugin_page, 'default' );
			$default_fields = ob_get_clean();
			?>
			<?php if ( ! empty( $default_fields ) ) : ?>
				<table class="form-table">
					<?php echo $default_fields; ?>
				</table>
			<?php endif; ?>
			<?php submit_button(); ?>
		</form>
	</div>
	<?php
}


/**
 * Enqueue scripts and styles for this page.
 *
 * @param string $hook_suffix The hook suffix of the current page. Not the same as the `menu_slug`.
 *
 * @see https://developer.wordpress.org/reference/hooks/admin_enqueue_scripts/
 */
function <%= pluginMachineName %>_submenu_page_<%= machineName %>_enqueue( $hook_suffix ) {
	if ( $hook_suffix === get_plugin_page_hookname( '<%= slug %>', '<%= parentSlug %>' ) ) {
		// Enqueue scripts and styles for this page.
		// wp_enqueue_script( ... );
		// wp_enqueue_style( ... );
	}
}
add_action( 'admin_enqueue_scripts', '<%= pluginMachineName %>_submenu_page_<%= machineName %>_enqueue' );
